body{
    background-color: rgb(128, 128, 128);
    color: rgb(0, 47, 255);
    margin: 5px;
    padding: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    text-align: center;
background-color: rgb(130, 130, 130);
}
footer {
    text-align: center;
    background-color: rgb(255, 124, 124);
}
h1{
    text-align: center;
    background-color: brown;
    margin: 3px;
    padding: 2px;
    text-decoration-line: underline;
}
h3 {
    text-align: center;
    background-color: rgb(112, 112, 112);
    border-width: 3px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h2{
color: crimson;
text-decoration-line: underline;
}
p{
    text-align: justify;
    color: aliceblue;
}